<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="UTF-8" />
        <title>Janken : Home</title>
        <link rel="stylesheet" href="/styles.css" />
	</head>

	<body>
		<h1>Bienvenue sur Janken !</h1>

		<% if(user.username !== 'inconnu') { %>
			<section class="section_second">
				<p>
					Sois le bienvenue sur Janken <b class="welcome"><%= user.username %></b> !
				</p>
				<a href="/janken" class="room" data-room="1">Room 1</a>
				<a href="/janken" class="room" data-room="2">Room 2</a>
				<a href="/janken" class="room" data-room="3">Room 3</a>

			</section>
		<% } else { %>
			<section class="section_first">
				<p>
					Pour entrer dans une session de jeu, vous devez vous créer un pseudo ! <br />
					Ecrivez votre pseudo puis jouez avec vos amis !
				</p>

				<p class="error"></p>

				<form action="" id="loginForm">
					<input type="text" name="username" class="username" />
					<input class="validation" type="submit" value="Entrer" />
				</form>
			</section>

		<% } %>

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
        <script src="/connect_io.js"></script>

		<script>

			$(document).ready(function() {

				$('.room').on('click', function() {
					var data_id = $(this).attr('data-room');

					socket.emit('joinRoom', {
						room_id : data_id
					});
				});

				$('#loginForm').submit(function(e) {
					e.preventDefault();
					var username = $('.username').val();
					if($('.username').val() !== '' && username !== null && username !== undefined) {
						$.post("http://localhost:8080/login",{username:username},function(data){
							if(data === 'done') {
				                window.location.href="/";
				            }
						});
					}
				});
			});

		</script>

	</body>
</html>
