/* line 1, ../sass/styles.scss */
body {
  margin: 0px;
  overflow: hidden;
}

/* line 6, ../sass/styles.scss */
header {
  height: 50px;
  background-color: black;
  position: fixed;
  width: 100%;
}
/* line 11, ../sass/styles.scss */
header .menu {
  border-sizing: border-box;
  padding: 7px;
}
/* line 15, ../sass/styles.scss */
header .menu li {
  display: inline-block;
  vertical-align: top;
  width: 250px;
}
/* line 21, ../sass/styles.scss */
header .menu li.all_users a {
  text-decoration: underline;
}
/* line 24, ../sass/styles.scss */
header .menu li.all_users a:hover {
  text-decoration: none;
}

/* line 33, ../sass/styles.scss */
.roomForm {
  margin-top: 20px;
}

/* line 38, ../sass/styles.scss */
.janken_buttons li {
  display: inline-block;
  margin-left: 15px;
}

/* line 44, ../sass/styles.scss */
.battle {
  width: 650px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
  z-index: -1;
  text-align: center;
}
/* line 55, ../sass/styles.scss */
.battle h1 {
  font-size: 60px;
  color: red;
}

/* line 61, ../sass/styles.scss */
.pierre_left, .feuille_left, .ciseaux_left {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 66, ../sass/styles.scss */
.feuille_right, .pierre_right, .ciseaux_right {
  position: absolute;
  right: 0;
  top: 0;
}
