/* line 3, ../sass/styles.scss */
body {
  margin: 0px;
  overflow: hidden;
}

/* line 8, ../sass/styles.scss */
.logo {
  position: absolute;
  z-index: 13;
  top: 5px;
  left: 5px;
}

/* line 15, ../sass/styles.scss */
header {
  height: 100px;
  background-color: #436e91;
  position: fixed;
  width: 100%;
}
/* line 21, ../sass/styles.scss */
header .menu {
  border-sizing: border-box;
  padding: 7px;
  padding-left: 100px;
}
/* line 26, ../sass/styles.scss */
header .menu li {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  color: white;
  padding: 0;
}
/* line 34, ../sass/styles.scss */
header .menu li.all_users a {
  text-decoration: underline;
  color: white;
}
/* line 38, ../sass/styles.scss */
header .menu li.all_users a:hover {
  text-decoration: none;
}

/* line 47, ../sass/styles.scss */
.roomForm {
  margin-top: 20px;
}

/* line 52, ../sass/styles.scss */
.janken_buttons li {
  display: inline-block;
  margin-left: 15px;
}

/* line 58, ../sass/styles.scss */
.battle {
  width: 650px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
  z-index: -1;
  text-align: center;
}
/* line 69, ../sass/styles.scss */
.battle h1 {
  font-size: 60px;
  color: red;
}

/* line 75, ../sass/styles.scss */
.left {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 80, ../sass/styles.scss */
.left img {
  position: absolute;
  top: -36px;
  left: 80px;
}
/* line 85, ../sass/styles.scss */
.left .block_rect {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 215px;
}
/* line 93, ../sass/styles.scss */
.left .circle_center {
  position: absolute;
  border-radius: 100px;
  left: 91px;
  top: 123px;
  width: 36px;
  height: 36px;
  z-index: 2;
}

/* line 104, ../sass/styles.scss */
.right {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 109, ../sass/styles.scss */
.right img {
  position: absolute;
  top: -36px;
  right: 80px;
}
/* line 114, ../sass/styles.scss */
.right .block_rect {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 215px;
}
/* line 122, ../sass/styles.scss */
.right .circle_center {
  position: absolute;
  border-radius: 100px;
  right: 91px;
  top: 123px;
  width: 36px;
  height: 36px;
  z-index: 2;
}
